.signin-body{
  display: flex;
  justify-content: center;
}

.signin-form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  h1, h3 {
    color: #fff;
  }

  .sign-up-link {
    color: #fff;
  }

  label {
    color: #A9A9A9;
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background-color: #303245;
    border: 0;
    border-radius: 5px;
    color: #eee;
    font-size: 18px;
    height: 40%;
    outline: 0;
  }

  button {
    width: 97%;
    padding: 15px;
    cursor: pointer;
    transition: 0.5s ease;
    border: none;
    border-radius: 5px;
    background-color: #08d;
    color: #fff;
    font-weight: 600;
    margin: 10px 0 20px;
  }

  button:hover {
    background-color: #fff;
    color: #08d;
    border: 1px solid #08d;
  }

  button:active {
    background-color: #06b;
  }