.scrumboard {
    background-color: #303245;
    height: 100%;
    color: #fff;
}

.mainboard {
    padding: 0% 3%;
}

.scrumboard nav {
    display: flex;
    justify-content: space-between;
    background-color: #15172b;
    padding: 0% 3%;
}

.scrumboard p {
    text-align: center;
    margin-bottom: 2%;
    font-size: larger;
}

nav .var {
    color: #fff;
    font-weight: bold;
    margin-bottom: 2%;
}

.container {
    margin: 2% 15%;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 40%;
    height: 400px;
    background-color: #fff;
    display: block;
}

.daily .task {
    background-color:#15172b;
    color: #fff;
    margin: 0;
    padding-left: 8.75em;
    padding-right: 8.7em;
    padding-top: 2%;
    padding-bottom: 2%;
}

.weekly .task {
    background-color:#15172b;
    color: #fff;
    margin: 0;
    padding-left: 8.2em;
    padding-right: 8.23em;
    padding-top: 2%;
    padding-bottom: 2%;
}

.hidden {
    display: none;
}

.show {
    position: absolute;
    top: 40%;
    left: 37%;
    z-index: 1;
    width: 350px;
    height: 220px;
    background: white;
    border-radius: 5px;
    border: 2px solid #15172b;
    animation: animate 0.3s;
    @keyframes animate {
        from {
          transform: scale(0.5);
        }
        to {
          transform: scale(1);
        }
    }
}

.header h3 {
    color: #000;
    text-align:center;
    margin-top:2%;
    margin-bottom: 10%;
}

form .input-task {
    width: 70%;
    margin-left: 12%;
    margin-bottom: 7%;
    outline: 2px solid #15172b;
}

#close {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 4%;
    margin-top: 2%;
}

.popup-btn {
    width: 40%;
    margin-left: 30%;
    margin-top: 0;
}



.add {
    width: 10%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.tasklist{
    border: 1px solid #15172b;
    color: #000;
    width: 80%;
    margin: 7% auto;
    padding: 2%;
    cursor: pointer;
}

.tasklist:hover{
    background-color: #303245;
    color: #ffffff;
}

.tasker {
    background-color: #303245;
    color: #ffffff;
    border: 1px solid #15172b;
    color: #000;
    width: 80%;
    margin: 7% auto;
    padding: 2%;
    cursor: pointer;
}
